h1 {
    color:brown;
    
    margin-left: 30px ;
}
.header{
    border:solid
}
.header{
    background-color: bisque;
    display: flex;
    justify-content: space-between;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
body{
    background-color: #787878;;
    color: goldenrod;
}
a:link{
    color: darkred;
}
a:visited{
    color:rgb(79, 29, 197);
}
.item{
    position: relative;
}
.item p{
    
    position: absolute ;
    top:50%;
    left:50%;
    opacity:0;
    transform: translate(-50%,-50%);
}
.item:hover p{
    opacity: 1;

}
.item:hover img{
    opacity:0.33
}